body {
	background-color:#EEE !important;
	font-family:Helvetica;
	margin:0px;
}
a {
	text-decoration:none;
	color:#333;
	outline:none !important;
	cursor:pointer;
}
a:hover {
	text-decoration:none;
}
ul {
	list-style: none outside none;
}
.logoutdiv{
	padding:10px;
	border-top:1px solid #333;
	width:calc(100% - 20px);
	font-weight:bold;
	font-size:21px;
	margin-top:20px;
	float:left;
}
.lglink {
	float:right;
}
.lglink:hover {
	color:#23527C;
	text-decoration:none;
}
.navspan {
	margin-right:15px;
	vertical-align:middle;
	margin-top:-5px;
}

.titlespan {
	box-shadow: 0 5px 1px -5px #666;
	width:100%;
	float:left;
	display:block;
	font-size:36px;
	text-align:center;
	color:#666;
	font-weight:bold;
	margin-bottom:10px;
}

.nswarning { color:#dd9a3b; }
.nsokay { color:#5CB85C; }
.mainwrapper {
	background-color: #fff;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 835px;
	padding-left: 10px;
	padding-right: 10px;
	width: 1000px;
}
.maindiv {
	width:100%;
	float:left;
}
.lidiv {
	border-top: 1px solid #333;
	width:100%;
	font-size:24px;
	margin-top:20px;
	margin-bottom:20px;
}
.pagecolumn {
    float: left;
    margin: 20px;
    width: calc(50% - 40px);
}
.ulnav {
	margin-top:10px;
	margin-bottom:10px;
	padding-left:0px;
}
.linav {
	height:55px;
	border-radius:4px;
	line-height: 35px;
}
.ulnav > li > a {
	display: block;
	padding: 10px 15px;
	position: relative;
	border-radius:4px;
/* 	width:80%; */
	float:left;
	white-space:nowrap;
	overflow-x:hidden;
}
.ulnav > li:hover {
	background-color:#EEE !important;
}
.colheader {
	width:100%;
	font-weight:bold;
	font-size:24px;
}
.remlnk {
	float: right !important;
    font-size: 18px;
    padding: 18px 10px !important;
    text-align: center;
    width: 35px !important;
}
.editlnk {
	float: right !important;
    font-size: 18px;
    padding: 18px 10px !important;
    text-align: center;
    width: 35px !important;
}
.alert_closebtn {
	float:right;
	width:30px;
	height:26px;
	background-color:#EDDDCD;
	border:1px solid #DADADA;
	border-radius:4px;
	margin:5px;
}
.alert_content {
	width:100%;
	float:left;
}
.new_item_cell {
	float:left;
	width:100%;
	margin-top:10px;
}
.new_item_lbl {
    color: #666;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
/*     margin-bottom: 0; */
    padding: 5px;
    width: 100%;
}
.new_item_txt, .new_item_txtarea {
	background-color:#F3F3F3;
	border:none;
	box-shadow:0 2px 3px -2px #666;
	float:left;
	font-size:14px;
	height:25px;
	width:calc(100% - 10px);
	padding:5px;
}

.new_item_slct {
	background-color:#F3F3F3;
	border:none;
	box-shadow:0 2px 3px -2px #666;
	float:left;
	font-size:14px;
	height:30px !important;
	line-height:30px !important;
	width:100%;
	padding:5px;
}

.new_item_txtarea {
	height:60px !important;
	resize:none;
}
.new_item_btn {
	background-color: #666;
    border: medium none;
    border-radius: 2px;
    color: #eee;
    font-family: "Lucida Console";
    font-weight: bold;
    height: 40px;
    width: 100px;
	box-shadow: 0 3px 3px -2px #666;
}
.new_item_btn:hover {
	background-color:#888;
}
.new_item_btn:active {
	box-shadow: none;
}
#new_item_header {
	background-color:#68A4C4;
	border-bottom:1px solid #888;
	border-radius:3px;
	box-shadow:0 2px 2px -2px #666;
	padding-top:3px;
}