html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:#262626;
}

.container {
	height: auto;
	width: 100%;
}

.sidebar {
	position:fixed;
	top:0;
	bottom:0;
	width:100px;
	background-color:#000;
	opacity:0.8;
}

.sidebar-nav {
	height:60px;
	width:60px;
	padding:20px;
	cursor:pointer;
}

.sidebar-nav:hover {
	background-color:#262626;
}
/*
.sidebar-nav:hover span {
	background-color:#262626;
	color: #A5D1F4;
}
*/
.sidebar-nav-active {
	background-color:#262626;
}

.sidebar-link {
	color: #efefef;
	display: block;
	font-size: 40px;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

.content {
	width:1000px;
	margin-right:auto;
	margin-left:auto;
}

.content-section {
	height: 500px;
	width: 100%;
}