* {
	color: #333;
	outline: 0;
	padding: 0;
	margin: 0;
}

:active, :focus {
	outline:0;
	text-decoration:none;
	outline-style:none;
	-moz-outline-style:none;
}

body,html {
	border: 0px;
	padding: 0px;
	margin: 0px;
	height: calc(100% - 30px) !important;
	width:100%;
	background-color:#FFF;
	font-family: 'Open Sans', serif;
}

a {
    text-decoration:none;
}

ul {
    list-style-type: square;
    margin-bottom:20px;
    margin-left:18px;
}

ul > ul {
    margin-bottom:0px;
}

li {
    height:30px;
    line-height:30px;
}

li .btn {
    margin-left:5px;
}

.main_wrapper {
	width:800px;
}

.main_wrapper div {
    float:left;
    width:100%;
}

.heading_wrapper {
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    font-weight: bold;
}

.week_wrapper {
    padding-bottom:30px;
    border-bottom:1px solid #666;
}

.week_list {
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    margin-top:30px;
}

.week_span {
    font-weight: normal;
    margin-left: 15px;
    font-style: italic;
}

.total_mileage {
    margin-bottom:20px;
}

.training_wrapper {}

.notes {}

.note_span {
    font-weight:bold;
}

#week_16 {
    margin-bottom:100px;
}

@media (min-width : 526px) and (max-width : 1024px) {
	.header {
		height:120px;
	}

	.innerheader {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		line-height: 120px;
		font-size: 70px;
	}

	.maindiv {
		width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top:120px;
		height: calc(100% - 120px);
	}

	thead > tr > th {
		font-size: 44px;
	}

	tbody > tr {
		font-size:44px;
	}

	.carouselcontainer {
		height:100%;
	}

	body,html {
		height: calc(100% - 50px) !important;
	}

}

@media (min-width : 320px) and (max-width : 525px) {

	.header {}

	.mainwrapper {
		width: calc(100% - 22px);
		height:1520px;
	}

}
